<div class="col-xs-2 col-sm-1">
  {{co-message/contact-icon contact=message.sender}}
</div>
<div onclick={{action "toggleExpandBody"}} class="caliopen-messages__message--summary">
  <div class="col-xs-8 col-sm-4 col-md-6 caliopen-messages__message__subject">
    <span>{{ message.sender.title }},</span>
    <span class="hidden-xs">{{message.subject}}</span>
  </div>
  <div class="col-xs-1 hidden-sm hidden-md hidden-lg caliopen-messages__message--summary"><span class="pull-right"><i class="fa {{if isBodyExpanded 'fa-minus-square-o' 'fa-plus-square-o'}}"></i></span></div>
  <div class="col-xs-9 col-sm-3 col-md-2 caliopen-messages__message--summary">{{co-widget/date date=message.date format="lll"}}</div>
  <div class="col-xs-1 caliopen-messages__message--summary">{{# if isImplemented }}{{co-widget/icon icon="paperclip"}}{{/if}}</div>
  <div class="col-xs-4 col-sm-2 col-md-1 caliopen-messages__message--summary">
    {{co-widget/icon title=(format-message (intl-get 'messages.index.list_item.importance_title' )) icon="warning-sign"}} {{message.importance}}
    {{co-widget/icon title=(format-message (intl-get 'messages.index.list_item.privacy_title' )) icon="eye-open"}} {{message.privacy}}
  </div>
  <div class="col-sm-1 hidden-xs caliopen-messages__message--summary"><span class="pull-right"><i class="fa {{if isBodyExpanded 'fa-minus-square-o' 'fa-plus-square-o'}}"></i></span></div>
  <span class="col-xs-12 hidden-sm hidden-md hidden-lg caliopen-messages__message__subject caliopen-messages__message--summary">{{message.subject}}</span>
</div>
<div class="col-xs-12 col-sm-11 caliopen-messages__message__message-body {{if isBodyExpanded 'caliopen-messages__message__message-body--expanded'}}">{{message.text}}</div>
<div class="col-xs-12 caliopen-messages__message__spacer-toggle" {{action "toggleExpandBody"}}><i class="fa {{if isBodyExpanded 'fa-caret-square-o-up' 'fa-caret-square-o-down'}}"></i></div>
