<header class="caliopen-layout__header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CaliOpen</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {{#if session.isAuthenticated }}
          {{co-layout/application-switcher
                currentApplication=currentApplication }}

          {{co-layout/user-menu
                user=user
                currentApplication=currentApplication }}

        {{else}}

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/login" {{action 'signin'}}>
                {{format-message (intl-get 'header.menu.signin')}}
              </a>
            </li>
          </ul>

        {{/if}}
      </div>
    </div>
  </nav>
</header>

<section role="main" class="caliopen-layout__main">
{{#if session.isAuthenticated }}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
  {{co-layout/main-action
                user=user
                currentApplication=currentApplication }}
    </div>
    <div class="col-md-9">
  {{co-layout/privacy-index-slider
                currentApplication=currentApplication }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 co-layout__main-slider-menu">
      {{co-layout/importance-slider
                    currentApplication=currentApplication }}
    </div>
    <div class="co-layout__main-inner-view">
    {{yield}}
    </div>
  </div>
</div>
{{else}}
    {{yield}}
{{/if}}
</section>

<footer class="caliopen-layout__footer">
  <p class="caliopen-layout__footer-headline">{{format-message (intl-get 'application.footer.moto' )}}</p>
</footer>
