<div class="caliopen-layout__main-topbar">
  <div class="caliopen-layout__main-topbar__block--action">
    {{co-layout/main-action
              currentApplication=currentApplication }}
  </div>
  <div class="caliopen-layout__main-topbar__block--privacy">
    {{co-layout/privacy-index-slider
              currentApplication=currentApplication }}
  </div>
</div>
<div class="caliopen-layout__main-content">
  <div class="caliopen-layout__main-content__block--importance">
    {{co-layout/importance-slider
              currentApplication=currentApplication }}
  </div>
  <div class="caliopen-layout__main-content--center">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">{{currentApplication}}</a></li>
      {{#each tabList as |tab|}}
      <li>{{tab.name}}</li>
      {{/each}}
    </ul>
    <p>
      Current Privacy Index: {{privacy.min}}-{{privacy.max}}
    </p>
    <p>
      Current Importance Index: {{importance.min}}-{{importance.max}}
    </p>
    {{yield}}
  </div>
</div>
