{{#main-title}}{{t settings.account.title }}{{/main-title}}
<ul class="nav nav-tabs">
    <li>{{#link-to 'settings.account.profile' }}{{t 'settings.account.menu.profile' }}{{/link-to}}</li>
    <li>{{#link-to 'settings.account.privacy' }}{{t 'settings.account.menu.privacy' }}{{/link-to}}</li>
    <li>{{#link-to 'settings.account.security' }}{{t 'settings.account.menu.security' }}{{/link-to}}</li>
</ul>
{{outlet}}
