<div class="container-fluid">
    {{#main-title}}{{t contacts.title}}{{/main-title}}
    {{outlet}}
    {{#co-contact-list contacts=contacts}}
        {{#each model as |contact|}}
        {{#co-contact-list-item contact=contact}}
          {{co-contact-card-avatar contact=contact}}
          {{contact.firstname}} {{contact.lastname}}
        {{/co-contact-list-item}}
        {{/each}}
    {{/co-contact-list}}
</div>
