{{#co-contact/list contacts=model}}

  {{#each model as |contact|}}
    <div class="row co-contact-list__item">
      {{#co-contact/list/item contact=contact}}

      <div class="col-xs-4 col-sm-1">
        {{#if contact.avatar_ul }}
          {{co-contact/card/avatar contact=contact}}
        {{else}}
          {{co-contact/card/avatar-letter contact=contact}}
        {{/if}}
      </div>

      <div class="col-xs-8 col-sm-11">
        {{#co-contact/card/title}}
          {{#co-layout/tabbable-link-to 'contacts.show' contact label=contact.fullname}}{{contact.fullname}}{{/co-layout/tabbable-link-to}}
        {{/co-contact/card/title}}
      </div>
      <div class="col-xs-12 col-sm-11 col-sm-offset-1">
        {{co-contact/card/icons contact=contact}}
      </div>

      {{/co-contact/list/item}}
    </div>
  {{/each}}

{{/co-contact/list}}
{{outlet}}
