<div class="container-fluid">
    {{#co-layout/application-panel/title}}{{format-message (intl-get 'contacts.index.title')}}{{/co-layout/application-panel/title}}
    {{#co-contact/list contacts=model}}

        {{#each model as |contact|}}

          {{#co-contact/list/item contact=contact}}

            {{co-contact/card/avatar contact=contact}}

            {{#co-contact/card/title}}
              {{#co-layout/tabbable-link-to 'contacts.show' contact label=contact.fullname}}{{contact.fullname}}{{/co-layout/tabbable-link-to}}
            {{/co-contact/card/title}}

            {{co-contact/card/icons contact=contact}}

          {{/co-contact/list/item}}

        {{/each}}

    {{/co-contact/list}}
    {{outlet}}
</div>
