<div class="caliopen-layout">
  <header class="caliopen-layout__header">
    {{ co-menu-top currentUser=model.currentUser }}
  </header>

  <section class="caliopen-layout__menu">
    {{#co-nav-main}}

      {{#co-nav-main/applications}}
        {{#co-nav-main/applications/application icon="envelope"}}
        {{#link-to "messages"}}{{t header.menu.messages}}{{/link-to}}
        {{/co-nav-main/applications/application}}
        {{#co-nav-main/applications/application icon="user"}}
        {{#link-to "contacts"}}{{t header.menu.contacts}}{{/link-to}}
        {{/co-nav-main/applications/application}}
      {{/co-nav-main/applications}}

      {{#co-nav-main/actions}}
        {{#co-nav-main/actions/action icon="pencil"}}
        {{#link-to "messages"}}{{t header.menu.compose}}{{/link-to}}
        {{/co-nav-main/actions/action}}
        {{#co-nav-main/actions/action icon="plus"}}
        {{#link-to "contacts"}}{{t header.menu.create_user}}{{/link-to}}
        {{/co-nav-main/actions/action}}
      {{/co-nav-main/actions}}

    {{/co-nav-main}}
  </section>

  <section role="main" class="caliopen-layout__main">
    {{outlet}}
  </section>

  <footer class="caliopen-layout__footer">
    <p class="caliopen-layout__footer-headline">{{t application.footer.moto }}</p>
  </footer>
</div>
